services:
  vmq0:
   image: vernemq/vernemq
   container_name: vmq0
   restart: always
   environment:
     DOCKER_VERNEMQ_ACCEPT_EULA: yes
     DOCKER_VERNEMQ_ALLOW_ANONYMOUS: on
   privileged: true
   networks:
    iot:
      ipv4_address: 172.28.0.10

  vmq1:
    image: vernemq/vernemq
    container_name: vmq1
    depends_on:
      - vmq0
    restart: always
    environment:
      DOCKER_VERNEMQ_DISCOVERY_NODE: 172.28.0.10
      DOCKER_VERNEMQ_ACCEPT_EULA: yes
      DOCKER_VERNEMQ_ALLOW_ANONYMOUS: on
    privileged: true
    networks:
      iot:
        ipv4_address: 172.28.0.20

  vmq2:
    image: vernemq/vernemq
    container_name: vmq2
    depends_on:
      - vmq0
    restart: always
    environment:
      DOCKER_VERNEMQ_DISCOVERY_NODE: 172.28.0.10
      DOCKER_VERNEMQ_ACCEPT_EULA: yes
      DOCKER_VERNEMQ_ALLOW_ANONYMOUS: on
    privileged: true
    networks:
      iot:
        ipv4_address: 172.28.0.30

  publisher:
    image: mqttapp
    container_name: publisher
    depends_on:
      - haproxy-keepalived-1
      - haproxy-keepalived-2
    restart: always
    environment:
      - BROKER_ADDRESS="tcp://172.28.0.111:1883"
      - PUBLISHER_CLIENT_ID:"go-mqtt-client-publisher"
    command: >
      sh -c "export BROKER_ADDRESS="tcp://172.28.0.111:1883" &&
             export SUBSCRIBER_CLIENT_ID="go-mqtt-client-subscriber"
             /app/vmqpipe -func=publish -worker=10"
    privileged: true
    networks:
      iot:

  subscriber:
    image: mqttapp
    container_name: subscriber
    depends_on:
      - haproxy-keepalived-1
      - haproxy-keepalived-2
    restart: always
    environment:
      - BROKER_ADDRESS="tcp://172.28.0.111:1883"
      - SUBSCRIBER_CLIENT_ID="go-mqtt-client-subscriber"
    command: >
      sh -c "export BROKER_ADDRESS="tcp://172.28.0.111:1883" && 
             export SUBSCRIBER_CLIENT_ID="go-mqtt-client-subscriber" &&
             /app/vmqpipe -func=subscribe -worker=10"
    privileged: true
    networks:
      iot:

  postgres:
    image: postgres:15
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=iotdb
    networks:
      iot:
        ipv4_address: 172.28.0.100

  haproxy-keepalived-1:
    image: instantlinux/haproxy-keepalived:latest # https://github.com/instantlinux/docker-tools/tree/main/images/haproxy-keepalived
    container_name: haproxy-keepalived-1
    ulimits:
      nofile:
        soft: 1024000
        hard: 1024000
    volumes:
      - $PWD/config/haproxy/haproxy-keepalived-1.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - $PWD/config/keepalived/keepalived-1.conf:/etc/keepalived/keepalived.conf:ro
    restart: always
    ports:
      - "11883:1883"
      - "18883:8883"
      - "18083:8083"
      - "18084:8084"
      - "18888:8888"
    cap_add:
      - NET_ADMIN # needed to execute rnetlink for keepalived VRRP processes 
    networks:
      iot:
        ipv4_address: 172.28.0.66
   
  haproxy-keepalived-2:
    image: instantlinux/haproxy-keepalived:latest # https://github.com/instantlinux/docker-tools/tree/main/images/haproxy-keepalived
    container_name: haproxy-keepalived-2
    ulimits:
      nofile:
        soft: 1024000
        hard: 1024000
    volumes:
      - $PWD/config/haproxy/haproxy-keepalived-2.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - $PWD/config/keepalived/keepalived-2.conf:/etc/keepalived/keepalived.conf:ro
    restart: always
    ports:
      - "21883:1883"
      - "28883:8883"
      - "28083:8083"
      - "28084:8084"
      - "28888:8888"
    cap_add:
      - NET_ADMIN # needed to execute rnetlink for keepalived VRRP processes
    networks:
      iot:
        ipv4_address: 172.28.0.77

networks:
  iot:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/24
